<%= render :partial => 'shared/ad_vertical_banner' %>

<h2>Menu</h2>

<%= render :partial => 'images_gallery' %>
<%= render :partial => 'add_new_asset', :locals  => {:img_type => 'MENU'} %>
<%# render :partial => 'add_new_image', :locals  => { :img_type => 'MENU' } %>
