<div class="paginator">
[Displaying results <%=@listing_pages.current.first_item%>-<%=@listing_pages.current.last_item%>
 of <%= @listing_total.size %>]
<%= link_to '&laquo; prev', { :page => @listing_pages.current.previous, :city => params[:city] } if @listing_pages.current.previous %>
<% if @listing_pages.current.next and @listing_pages.current.previous %> | <% end %>

<%= link_to 'next &raquo;', { :page => @listing_pages.current.next, :city => params[:city] } if @listing_pages.current.next %>

</div>
