<div id="header_wrap">
<div id="header">
<%  #<!-- <div id="logo"><a href="/"><img src="/images/cv_logo2a.gif" width="181" height="38" alt="" border="0" %></a></div> -->%>
<div id="logo"><a href="/" class="plain"><%= image_tag 'cv_logo2a.gif', :alt => "The Cache Valley Business Directory" %></a></div>
<% #<div id="hjlogo"><a href="http://www.hjnews.com" class="plain"><%= image_tag 'hjnews.gif', :alt => "The Herald Journal" %></a></div>%>
<%= render :partial => 'shared/tabs' %>
<%= render :partial => 'shared/tools' %>
</div><!-- // header -->
</div><!-- // header_wrap -->