

<div id="ban"></div>
<img src="http://www.kuta8.com/images/menu.png" border="0" usemap="#Map" style="margin: 9px 0 0 49px;" />
<map name="Map" id="Map"><area shape="rect" coords="13,49,420,70" href="http://www.kuta8.com" /></map>

