<div style="width:415px; float: left;">
<h1 style="margin-bottom: 5px;">Subscribe</h1>
<p><b>Never Miss Another Local Special!</b><br />Sign up to receive an email when new local specials are posted. Unsubscribe at anytime.</p>
	<div>
		<form action="http://www.feedburner.com/fb/a/emailverify" method="post" target="popupwindow" onsubmit="window.open('http://www.feedburner.com', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
			<p style="margin: 0; padding:0;"><input type="text" style="width:140px" name="email" value="Enter e-mail" onClick="this.value=''"/>
			<input type="hidden" value="http://feeds.feedburner.com/~e?ffid=1082668" name="url"/>
			<input type="hidden" value="Specials/Coupons from CacheValleySearch.com" name="title"/>
			<input type="hidden" name="loc" value="en_US"/>
			<input type="submit" value="Subscribe" />
			<a href="http://feeds.feedburner.com/cvs_specials" rel="alternate" type="application/rss+xml">
			<p style="margin: 0; padding:0; font-size: 10px"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/cvs_specials" rel="alternate" type="application/rss+xml">RSS Feed</a>&nbsp; | delivered by <a href="http://www.feedburner.com">FeedBurner</a></p>
		</form>
	
		<p>See <a href="http://www.cachevalleysearch.com/files/sample_specials_email.png">Example Email</a></p>
		
	</div>
</div>
