<%= error_messages_for 'category' %>

<table class="fieldset">
<tr>
  <th>Name</th>
  <td><%= text_field 'category', 'name' %></td>
</tr>
<tr>
  <th>Code</th>
  <td><%= text_field 'category', 'code' %></td>
</tr>
</table>
