<h1>Registration Accepted</h1>

|<%= flash[:notice] %>|

<p>Thanks for signing up! We will process your registration
as soon as we can. You should receive an email confirmation
in the next day or so.</p>

<p>Once you receive the email confirmation, your account will be active
and you can login.</p>

<p><%= link_to 'home', :controller => 'home' %>

