<h1>Upgrade Listing</h1>

<p>Upgrading your listing will add additional fields and options to your listing.</p>

<p>You can choose to upgrade your listing for either 6-months or 1-year.<br/>
If you have multiple listings, each must be upgraded separately.</p>

<p style="font-size:125%;font-weight:bold;">Listing: <span style="color:orange"><%= @listing.business %></span></p>

<%= render :partial => 'upgrade_form' %>

<p class="help">* Amounts listed are in USD</p>
