<h1>Upgrade Listing - Thanks</h1>

<p>Thanks for upgrading your listing. Once your payment has been received,
your business listing will be upgraded. The upgraded status of your listing
will be shown on your "My Account" page.</p>
