<h1>Add New User</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %> or <%= link_to 'cancel', :action => 'list' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
