<%= @name %>,

You changed your password.

Here are your new login credentials. (Remember that your password
is case-sensitive.)

    Username: <%= @username %>
    Password: <%= @password %>

Visit the following link to login:
    <%= @url %>
