<%= @name %>,

A request was made to reset your password for the
CacheValleySearch.com website.

Here are your new login credentials. (Remember that your password
is case-sensitive.)

    Username: <%= @username %>
    Password: <%= @password %>

Visit the following link to login:
    <%= @url %>
