The following person has signed up for an account at the
'CacheValleySearch' website.

    Name: <%= @name %>
    Username: <%= @username %>
<% if @business -%>
    Business: <%= @business %>
<% end -%>