<%= @name %>,

Thank-you for signing up for an account at the CacheValleySearch
website.

Here are the account credentials you selected. (Please remember that
your password is case-sensitive.)

    Username: <%= @username %>
    Password: <%= @password %>

If you have any questions, please contact us at "webmaster@cachevalleysearch.com".
