Hey <%= @to %>, I found a great website where you can search
for businesses and services in the Cache Valley area. It has
a "Live Search" tool which displays results instantly, and
makes it really quick and easy to find something.

It's free for any business to add or update their listing. Check it out!
  <%= @url %>

Regards,
<%= @from %>
